/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.hover\:bg-blue-700:hover {
  background-color: #1e40af;
}

.transition-colors {
  transition: background-color 0.3s ease;
}

.overflow-hidden {
  overflow: hidden;

  
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 60s linear infinite;
  white-space: nowrap;
}

.animate-marquee > * {
  display: inline-block;
  margin-right: 5rem; /* Adjust spacing between icons */
}

.highlight {
  animation: highlight-animation 2s ease-in-out;
}

@keyframes highlight-animation {
  0% {
    background-color: rgb(0, 255, 200);
  }
  100% {
    background-color: transparent;
  }
}